@meta charset:UTF-8;
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .32rem; }

ul, li {
  list-style: none; }

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size:.32rem; }

img, div, body, html, ul, li, a {
  -webkit-touch-callout: none; }
  img input::-webkit-input-placeholder, img textarea::-webkit-input-placeholder, div input::-webkit-input-placeholder, div textarea::-webkit-input-placeholder, body input::-webkit-input-placeholder, body textarea::-webkit-input-placeholder, html input::-webkit-input-placeholder, html textarea::-webkit-input-placeholder, ul input::-webkit-input-placeholder, ul textarea::-webkit-input-placeholder, li input::-webkit-input-placeholder, li textarea::-webkit-input-placeholder, a input::-webkit-input-placeholder, a textarea::-webkit-input-placeholder {
    color: #999; }

input {
  outline: 0; }
  
*{
	margin: 0;padding: 0;list-style: none;font-style: normal;text-decoration: none;
}
html,body,#root, .home{
	width: 100%;
  height: 100%;
  overflow: hidden;
}
.home{
  display: flex;
  flex-direction: column;
}
.content{
  flex:1;
  overflow:hidden;
}
.index {
  width: 100%;
  height: 100%;
  background: lightgoldenrodyellow;
}
.index .swiper img{
  width: 100%;
}
.list{
  width: 100%;
  height: 100%;
  background: lightblue;
}

.list span{
  display: inline-block;
  width: 2rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  color: black;
}
.list .active span {
  color: #fff;
  background: #ccc;
}
.login {
  width: 100%;
  height: 100%;
}
.form {
  width: 90%;
  background: lavender;
  margin: 5% auto;
  text-align: center;
  padding:.2rem;
}
.login p {
  height: 1rem;
  line-height: 1rem;
  padding:0 .2rem;
  border: 1px solid #ccc;
}
.login p span {
  display: inline-block;
  width: 1.5rem;
  text-align: center;
}
.login p input {
  padding: .1rem;
  border:1px solid #ccc;
  margin-left: .2rem;
}
.login  button{
  border:0;
  background: lightseagreen;
  color: #fff;
  font-size: .4rem;
  padding:.2rem 1rem;
  margin-top: .2rem;
}
.footer{
  width: 100%;
  height: 1.2rem;
  background: #fff;
  border-top: 1px solid #ccc;
  display: flex;
}
.footer a{
  flex:1;
  color: #999;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1rem;
}
.footer a span{
  font-size: .32rem;
}
.footer a.active {
  background: lightcoral;
  color:#fff;
}
